body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.wrap{
    padding: 16px;
}
.panel{
    width: 400px;
    height: 400px;
    background: chocolate;

    border-width: 10px;
    border-style: solid;
    border-color: blue;

    display: grid;
    place-items: center;
    margin-bottom: 16px;
}
.weird{
    width: 400px;
    height: 400px;
    border-width: 10px;

    background: cornflowerblue;

    border-left-style: dashed;
    border-top-style:dotted;
    border-right-style: solid;
    border-bottom-style: double;

    border-right-color:blue;

}
.card{
    width: 200px;
    height: 200px;
    background: blue;
    border: 5px solid yellow;

    display:grid;
    place-items:center;
    
}