body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.wrap{
    padding: 16px
}
.example-1{
    width: 400px
    height: 400px
    background-color: steelblue
color: white
display:grid
place-items: center 
}
.parent{
  width: 50%;
height: 200px
  background-color: blue;
}
.child{
width: 150px
height:50%
background-color: lightskyblue 

background-color
}