body{
font-family: 'Times New Roman', Times, serif;
background-color: blue;
text-align:center;
}
.card {
background-color: aquamarine;
width: 500px;
margin: 100px;
padding:30px;
border-radius: 15px;
box-shadow: 0 5PX 20px  rgba(
    , green, blue, alpha);
}
h1 {
color:purple;
}
p{
    color:black;
    margin: 10px 0;
}